<%- include('partials/header') %>
  <section class="page-error">
    <h1>404</h1>
    <p>Página não encontrada.</p>
    <a href="/" class="btn btn-large">Voltar ao início</a>
  </section>
<%- include('partials/footer') %>
