<%- include('partials/header') %>
  <section class="page-404">
    <div class="code">404</div>
    <p>Página não encontrada.</p>
    <a href="/" class="btn btn-primary btn-large">Voltar ao início</a>
  </section>
<%- include('partials/footer') %>
